@{
    ViewData["Title"] = "Habitacion N°2";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>Al salir de la habitación, te encuentras en una sala con varias puertas cerradas. En la pared hay un mensaje que dice "Para encontrar la puerta correcta, debes responder a la siguiente pregunta: ¿Cuál es el nombre del dios maya de la muerte?". Tendrás que usar tus conocimientos sobre la cultura egipcia para responder correctamente y avanzar a la siguiente habitación.</p>
    <img src="/Imagenes/AcertijoN1.png" alt="">
</div>
<form method="post" action='@Url.Action("Habitacion","Home")'>
    <p>Ingrese su respuesta: </p>
    <input type="hidden" name="sala" value="1">
    <input type="text" name="clave" required>
    <input type="submit" value ="Validar">
</form>
<button onclick="alert('No pidas pistas es muy fácil')"> Pista 1 </button>
<button onclick="alert('Dibu Martinez - Messi - Tagliafico')"> Pista 2 </button>
