@{
    ViewData["Title"] = "Felicitaciones";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>Finalmente, después de encontrar la habitación correcta, encuentras el tesoro que estabas buscando. Es una colección de artefactos antiguos, joyas y monedas de oro. Te sientes emocionado por haber encontrado el tesoro y decides regresar a casa para compartir tus descubrimientos con el mundo. Pero antes de salir del templo, te das cuenta de que estás siendo seguido por un grupo de ladrones que quieren robarte el tesoro. Rápidamente, te preparas para enfrentarlos y defiendes el tesoro con valentía. Logras salir del templo sano y salvo con el tesoro en mano para contar la historia de tus desafíos y aventuras a los demás.</p>
    <img src="/Imagenes/evangelion-clapping.gif" alt="Omedeto">
</div>

