@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Escape Room</h1>
    <img class="imgInd"src="/Imagenes/EscapeRoomImagen.jpg" alt=""><br>
    <a href='@Url.Action("Tutorial")'><button class="btnindex">Tutorial</button></a>
    <a href='@Url.Action("Creditos")'><button class="btnindex">Creditos</button></a>
    <a href='@Url.Action("Comenzar")'><button class="btnindex">Comenzar</button></a>
</div>
