html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}
a
{
  text-decoration: none;
  color: inherit;
}
body {
  background-color: rgb(255, 240, 156);
}
.carousel-container {
  width: 50%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  white-space: nowrap;
  margin-left:25%;
  margin-top: 60px;
}

.carousel-wrapper {
  display: inline-flex;
  scroll-snap-align: center;
  
}

.carousel-slide {
  flex: 0 0 100%;
  scroll-snap-align: start;
}

.carousel-slide img {
  height: auto;
  width: 75%;
}
input[type="button"]
{
  margin: 10px;
  padding: 10px;
}

h1 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 50px;
  color: gold;
}
h2
{
  font-size: 65px;
  color: rgb(205, 50, 50);
}
.btnindex
{
  background-color: beige;
  color: black;
  font-size: 24px;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 20px;
  margin-bottom: 70px;
  font-family: 'Arial', sans-serif;
  transition-duration: 0.4s;
}
.btnindex:hover
 {
  background-color: gold;
  color: rgb(255, 255, 255);
}
input[type="submit"]
{
  background-color: beige;
  color: black; 
  border: none;
  border-radius: 10px;
  padding: 5px;
  font-family: 'Arial', sans-serif;
  transition-duration: 0.4s;
}
input[type="submit"]:hover
 {
  background-color: gold;
  color: rgb(255, 255, 255);
}
.boton-pista
{
  background-color: beige;
  color: black;
  font-size: 24px;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 20px;
  margin-bottom: 70px;
  text-transform: uppercase;
  font-family: 'Arial', sans-serif;
  transition-duration: 0.4s;
}


.boton-pista:hover
 {
  background-color: gold;
  color: rgb(255, 255, 255);
}


p {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
img
{
  width: 70%;
  margin-bottom:10px;
  
}
.imgCol
{
  width: 300px;
  border-radius: 50px;
}
.imgInd
{
  width: 550px;
}

.colaborador
{
  padding:10px ;
  text-align: center;
  border-radius: 10px;
  border: 2px solid rgb(184, 184, 0);
  margin: 40px;
  background-color: #fffec4;
  float: left;
}

.timer {
  background-color:#fffec4;
  font-size: 1,5rem;
  font-weight: bold;
  text-align: center;
  color: gold;
  border: 2px solid gold;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
  max-width: 20rem;
}